In [2]:
#import numpy as np
import xarray as xr
import cartopy as cr
import numpy as np
import pandas as pd
import matplotlib as plt
from matplotlib import pyplot as plt

In [4]:
Jeff= pd.read_csv('Indoor_Air_Quality_IAQ.txt',names=['Datetime','Temperature','Humidity','Pressure','Altitude','CO','CO$_2$','NH$_3$','PM$_{1}$','PM$_{2.5}$','PM$_{10}$'], delimiter= ',' ,skiprows=3939)

In [10]:
Jeff_2 =pd.read_csv('datalog3.csv',names=['Datetime','Temperature','Humidity','Pressure','Altitude','CO','CO$_2$','NH$_3$','PM$_{1}$','PM$_{2.5}$','PM$_{10}$'], delimiter= ',' ,nrows=27834)

In [11]:
Jeff_2

,Datetime,Temperature,Humidity,Pressure,Altitude,CO,CO$_2$,NH$_3$,PM$_{1}$,PM$_{2.5}$,PM$_{10}$
0,2023-6-14 12:38:10,24.33,50.30,98465.06,240.88,3.52,402.62,4.03,14.0,15.0,19.0
1,2023-6-14 12:38:11,24.32,50.27,98465.06,240.88,3.06,402.37,3.69,14.0,15.0,18.0
2,2023-6-14 12:38:11,24.33,50.26,98464.91,240.89,4.84,403.30,4.92,15.0,16.0,18.0
3,2023-6-14 12:38:12,24.33,50.25,98464.92,240.89,3.44,402.57,3.97,13.0,14.0,17.0
4,2023-6-14 12:38:14,24.34,50.19,98464.97,240.89,3.21,402.45,3.80,14.0,16.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...
27829,2023-6-17 21:32:36,30.66,61.71,98389.72,247.30,4.88,403.32,4.95,39.0,64.0,66.0
27830,2023-6-17 21:32:57,30.66,61.84,98388.67,247.39,3.70,402.72,4.16,39.0,64.0,66.0
27831,2023-6-17 21:32:58,30.68,61.84,98388.48,247.40,3.39,402.55,3.94,39.0,64.0,66.0
27832,2023-6-17 21:33:4,30.68,61.77,98389.36,247.33,3.60,402.66,4.08,41.0,64.0,66.0
27833,2023-6-17 21:33:13,30.68,61.91,98389.70,247.30,3.67,402.70,4.14,41.0,65.0,65.0

In [17]:
amos=df_concat= (Jeff,Jeff_2)

In [14]:
amos

(                 Datetime  Temperature  Humidity  Pressure  Altitude    CO  \
 0         2023-6-9 0:0:17        27.52     46.60  98541.88    234.33  1.37
 1         2023-6-9 0:0:27        27.52     46.77  98541.48    234.37  1.17
 2         2023-6-9 0:0:36        27.50     46.88  98541.82    234.34  1.15
 3         2023-6-9 0:0:46        27.51     46.88  98541.64    234.35  1.08
 4         2023-6-9 0:0:55        27.50     47.03  98541.12    234.40  1.13
 ...                   ...          ...       ...       ...       ...   ...
 49012   2023-6-14 12:17:8        29.50     61.47  98588.70    230.35  1.87
 49013  2023-6-14 12:17:14        29.51     61.93  98589.16    230.31  5.03
 49014  2023-6-14 12:17:23        29.52     62.23  98589.52    230.28  2.49
 49015  2023-6-14 12:17:33        29.54     63.68  98589.11    230.31  2.20
 49016  2023-6-14 12:17:43        29.58     63.66  98589.75    230.26  2.05

        CO$_2$  NH$_3$  PM$_{1}$  PM$_{2.5}$  PM$_{10}$
 0      401.32    2.22       7.0        10.0       12.0
 1      401.17    2.01       7.0        10.0       12.0
 2      401.16    2.00       7.0        10.0       10.0
 3      401.11    1.92       7.0        10.0       10.0
 4      401.14    1.97       8.0        11.0       11.0
 ...       ...     ...       ...         ...        ...
 49012  401.66    2.71      17.0        24.0       24.0
 49013  403.40    5.04      18.0        25.0       25.0
 49014  402.04    3.24      18.0        25.0       26.0
 49015  401.86    3.00      17.0        25.0       25.0
 49016  401.77    2.87      18.0        25.0       25.0

 [49017 rows x 11 columns],
                  Datetime  Temperature  Humidity  Pressure  Altitude    CO  \
 0      2023-6-14 12:38:10        24.33     50.30  98465.06    240.88  3.52
 1      2023-6-14 12:38:11        24.32     50.27  98465.06    240.88  3.06
 2      2023-6-14 12:38:11        24.33     50.26  98464.91    240.89  4.84
 3      2023-6-14 12:38:12        24.33     50.25  98464.92    240.89  3.44
 4      2023-6-14 12:38:14        24.34     50.19  98464.97    240.89  3.21
 ...                   ...          ...       ...       ...       ...   ...
 27829  2023-6-17 21:32:36        30.66     61.71  98389.72    247.30  4.88
 27830  2023-6-17 21:32:57        30.66     61.84  98388.67    247.39  3.70
 27831  2023-6-17 21:32:58        30.68     61.84  98388.48    247.40  3.39
 27832   2023-6-17 21:33:4        30.68     61.77  98389.36    247.33  3.60
 27833  2023-6-17 21:33:13        30.68     61.91  98389.70    247.30  3.67

        CO$_2$  NH$_3$  PM$_{1}$  PM$_{2.5}$  PM$_{10}$
 0      402.62    4.03      14.0        15.0       19.0
 1      402.37    3.69      14.0        15.0       18.0
 2      403.30    4.92      15.0        16.0       18.0
 3      402.57    3.97      13.0        14.0       17.0
 4      402.45    3.80      14.0        16.0       17.0
 ...       ...     ...       ...         ...        ...
 27829  403.32    4.95      39.0        64.0       66.0
 27830  402.72    4.16      39.0        64.0       66.0
 27831  402.55    3.94      39.0        64.0       66.0
 27832  402.66    4.08      41.0        64.0       66.0
 27833  402.70    4.14      41.0        65.0       65.0

 [27834 rows x 11 columns])